doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Home
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/octicons/3.1.0/octicons.min.css')
    //if lt IE 9
      script(src='https://cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://cdn.jsdelivr.net/respond/1.4.2/respond.min.js')
  body
    nav.row.navbar.navbar-inverse(role='navigation')
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#')
        // Collect the nav links, forms, and other content for toggling
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='#') Home
            li
              a(href='/admin/rooms') Chat Rooms
            li
              a(href='#') Users 
            li
              a(href='/admin/vr') 2D
            li
              a(href='/admin/3d') 3D 
          form.navbar-form.navbar-left(role='search')
            .form-group
              input.form-control(type='text', placeholder='Search')
            button.btn.btn-primary.btn-sm(type='submit' style="margin-left:3px;") Search
          ul.nav.navbar-nav.navbar-right
            li
              a(href='#')
          ul.nav.navbar-nav.navbar-right
            li
              a(href="/") #{user.name},
            li
              a(href="/logout") Logout
        // /.navbar-collapse
        // /.container-fluid
    .container
      .row
        div(style='padding:37px;')
      .row
        .col-sm-4
          .col-sm-12
            h2(style='margin-left:-13px') Rooms
          #roomLst.col-sm-12.list-group
            a.list-group-item.active(href='#') Cras justo odio
            a.list-group-item.list-group-item-action(href='#') Dapibus ac facilisis in
            a.list-group-item.list-group-item-action(href='#') Morbi leo risus
            a.list-group-item.list-group-item-action(href='#') Porta ac consectetur ac
            a.list-group-item.list-group-item-action.disabled(href='#') Vestibulum at eros
        .col-sm-8
          div(style='padding:10px;')
          div.col-sm-12.form
            .form-group
              label(for='chatTextarea')
                h4
                  strong#lblChat Massages for change
              textarea#txtChat.form-control(rows='13')
            .form-group
              a.btn.btn-primary(id='delete-chats',name='button') Delete All Massages
          div(style='padding:20px;')
          div.col-sm-12.form
            .form-group
              label(for='exampleTextarea')
                h4
                  b#lblPost Post A Message
              textarea#txtPost.form-control(rows='4',name="message")
            .form-group
              a.btn.btn-primary(name='button',id='chat-sub') Post
    script(src='https://cdn.jsdelivr.net/jquery/2.1.3/jquery.min.js')
    script(src='https://cdn.jsdelivr.net/bootstrap/3.3.5/js/bootstrap.min.js')
    script(src='/assets/home.js')
    //script(src='home.js')
